.magic {
  background: linear-gradient(90.82deg, #173634 13.25%, #1e6863 96.98%);
}
.section1 {
  background: rgba(23, 54, 52, 1);
}
.section2 {
  background: linear-gradient(90deg, #a0d398 0%, #537f78 100%);
}
